.page{
    position: relative;
}

.menu-bar{
    position: absolute;
    z-index: 5;
    background-color: white;
    top:0;
    left: 0;
    right:60%;
    bottom:0;
}
.menu-bar-items{
    margin-top: 80px;
    margin-left: 15px;
    display: flex;
    gap:20px;
    font-size: 12px;
    flex-direction: column;
    font-family: 'Kumbh Sans';
}

.mobile-panel{
    position: absolute;
    z-index: 4;
    background-color: rgba(0,0,0,0.6);
    top:0;
    left:0;
    right:0;
    bottom:0;
}



@media (min-width:900px) {
    .product-main-display{
        display: flex;
        gap:5%;
        padding:3% 11%;
        
    }
    .product-main-display > *{
        flex:1;
        max-width: 50%;
        padding: 5%;
        align-self: start;
    }

    
}